* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: black;
    color: white;
    cursor:none
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;

}

#nav {
    height: 80px;
    width: 100%;
    background-color: rgb(7, 7, 6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#nav img {
    height: 20px;
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav3 #circle {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

#nav h4 {
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

#nav h4:nth-child(1) {

    border-bottom: 1.5px solid #fff;
}

#page1 h1 {
    font-weight: 400;
    font-size: 7vw;
    margin-top: 8vw;
    margin-left: 9vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page1 h2 {
    font-size: 7vw;
    font-weight: 400;
    margin-left: 30vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page1 video {
    width: 60%;
    margin-top: 8vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.page2 {
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #000000;
    position: relative;
    z-index: 9;

}

.page2 h1 {
    font-size: 7vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color: rgb(0, 0, 0);
    margin-left: 30px;


}

.page-container {
    height: 60vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;

}

.page2-left {

    width: 32vw;

}

.page2-right {

    width: 18vw;
}

.page2-left h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

}

.page2-right p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;

    color: rgb(0, 0, 0);
}

.page2-right button {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    margin-top: 20px;
    background-color: #DEB2F2;
}

.page3 {
    min-height: 150vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    z-index: 9;
    border-bottom: 2px solid black;
    padding-bottom: 20px;

}

.page3 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6.8vw;
    color: #000000;
    font-weight: 200;
    margin-left: 100px;
}

.page3 #page3-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#page3-1 img {
    height: 400px;
    margin-top: 160px;
    margin-left: 40px;
}

#page3-1 video {
    height: 400px;
    margin-right: 40px;
}

.page3 #page3-2 {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#page3-2 img {
    height: 340px;
    margin-right: 40px;
}

#page3-2 video {
    height: 470px;
    margin-top: 160px;
    margin-left: 80px;

}

.text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px;
    margin-top: 10px;
    position: relative;
    z-index: 9;
}

.left {

    padding: 20px;

}

.right {

    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle {
    background-color: #2183df;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle h3 {
    color: #000000;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left h1 {
    font-size: 5vw;

}

.cursor{
    height: 15px;
    width: 15px;
    position: fixed;
    border-radius: 50%;
    background-color: rgb(111, 0, 255);
    z-index: 10;
    mix-blend-mode: difference;
    transition: all linear 0.1s ;
    
    
}

.page4 {
    min-height: 100vh;
    width: 100%;

    position: relative;
    z-index: 9;
    padding: 300px 50px;
    border-bottom: 2px solid rgb(255, 255, 255);


}

.elem {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;


}

.elem:hover h1 {

    transform: translateY(-100%);
    color: #DEB2F2;

}

.elem:hover img {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);



}

.elem img {
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1) {
    left: 1%;
    width: 30vw;
}

.elem img:nth-child(3) {
    right: 2%;
}

.elem h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7vw;
    font-weight: 300;
    transition: all ease-out 0.5s;
    color: #ffffff;
}

.text-div {
    height: 100px;
    cursor: pointer;

    overflow: hidden;

}

.page5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    width: 100%;

    position: relative;
    z-index: 9;
    padding: 100px 80px;
    color: #000000;
}

.page5 h1 {
    font-weight: 400;
    font-size: 4vw;
    color: #fff;
    padding-bottom: 20px;
    text-transform: uppercase;

}

.page5 .box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 80px;
    border-top: 1px solid #fff;
    color: #5e5b5b;
    font-weight: 200;
    transition: all ease 0.3s;
    cursor: pointer;
}
.box:hover{
    color: #fff;
}

footer {
    min-height: 100vh;
    width: 100%;
    background-color: #DEB2F2;
}